@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="NiuTouNiu Robot Management Studio">
	<meta name="author" content="KevinChoi,Xanta">
	<meta name="keywords" content="NiuTouNiu">
	<title>牛头牛Robot-NiuTouNiu-永不解散的一梦十年</title>
	<link rel="stylesheet" href="/assets/vendors/core/core.css">
	<link rel="stylesheet" href="/assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="/assets/css/demo1/style.css">
	<link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>
<body>
	<div class="main-wrapper">
		<div class="page-wrapper full-page">
			<div class="page-content d-flex align-items-center justify-content-center">
				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-8 col-xl-6 mx-auto">
						<div class="card">
							<div class="row">
								<div class="col-md-4 pe-md-0">
									<div class="auth-side-wrapper">
									</div>
								</div>
								<div class="col-md-8 ps-md-0">
									<div class="auth-form-wrapper px-4 py-5">
										<a href="#" class="noble-ui-logo d-block mb-2">NIU TOU<span> NIU</span></a>
										<h5 class="text-muted fw-normal mb-4">欢迎回来，敲入群里分配的账号密码以进入牛头牛</h5>
										<form class="forms-sample">
											<div class="mb-3">
												<label for="userEmail" class="form-label">QQ</label>
												<input type="text" class="form-control" id="userEmail" placeholder="QQ">
											</div>
											<div class="mb-3">
												<label for="userPassword" class="form-label">密码</label>
												<input type="password" class="form-control" id="userPassword" autocomplete="current-password" placeholder="Password">
											</div>
											<div>
												<a href="../../dashboard.html" class="btn btn-primary me-2 mb-2 mb-md-0 text-white">登录</a>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- core:js -->
	<script src="/assets/vendors/core/core.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="/assets/vendors/feather-icons/feather.min.js"></script>
	<script src="/assets/js/template.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->
	<!-- End custom js for this page -->

</body>
</html>